.gpt3__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gpt3__brands div {
  flex: 1;
  max-width: 9.375rem;
  min-width: 7.5rem;
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}