.hero {
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  height: 600px;
  width: 600px;
  background-color: rgba(0, 40, 83, 1);
  border-radius: 50%;
  z-index: -2;
  filter: blur(150px);
  opacity: .3;
}