.gpt3__blog {
  display: flex;
  flex-direction: column;
}

/* Heading */
.gpt3__blog-heading {
  text-align-last: left;
  width: 100%;

  margin-block-end: 5rem;
}

.gpt3__blog-heading > h2 {
  font-size: clamp(2.125rem, 7vw, 3.875rem);
  line-height: clamp(2.8125rem, 10vw, 4.6875rem);
  margin-inline-end: clamp(0px, 7vw, 12.5rem);
}

/* Container */
.gpt3__blog-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 62em) {
  .gpt3__blog-container {
    flex-direction: row;
    gap: 3rem;
  }
}

.gpt3__blog-container_left {
  flex: 0.75;
}

.gpt3__blog-container_right {
  flex: 1;

  display: grid;
  gap: 2rem;
}

@media (min-width: 62em) {
  .gpt3__blog-container_right {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 36em) {
  .gpt3__blog-container_right {
    grid-template-columns: repeat(2, 1fr);
  }
}